<!DOCTYPE html>
<html lang="en">

<head>
  
  <!--hello-->
  <!-- Meta Tags For SEO -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ZLASH</title>

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- fonts links -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


  
  <!-- CSS link -->



<!-- 
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="../static/assets/style.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  


  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script> -->





</head>


<body>


<!-- general navbar before registering-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="../static/images/new-zlash-logo.png" style="block-size: 40px; width:30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" style="padding-right:58px;">
     
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color:#ffffff;"><i class='fas fa-user-friends'></i>About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus" style="color:#ffffff;"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
      </li>
    
      <li class="nav-item dropdown">
        <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-chart-line'></i> Market Status
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stockmarket"><i class='fas fa-funnel-dollar'></i>Stock Market</a> 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/googlenews"><i class="fa fa-newspaper-o"></i>Google News</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/surveys"><i class='fas fa-poll'></i>Surveys</a>

        </div>
        </li>
       
      </ul>


        <ul class="nav navbar-nav navbar-right" style="padding-right:58px;"> 
          {% if session.logged_in %}
          <!-- <ul class="nav navbar-nav navbar-right padding-nav">  -->
            <li class="nav-item dropdown">
              <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-question" aria-hidden="true"></i> Problems
              </a>
      
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/viewproblem"><i class="fa fa-eye" aria-hidden="true"></i>View problems</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/postproblem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Post a problem</a>
               
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="color:#ffffff;"><i class="fas fa-user"></i> Welcome {{session.username}}</a>
            </li>
       
              <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:#ffffff;"><i class="fas fa-sign-out-alt"></i>Logout</a>
              </li>

              {% else %}      
                   
              <li class="nav-item dropdown">
                <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-question" aria-hidden="true"></i> Problems
                </a>
        
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/viewproblem"><i class="fa fa-eye" aria-hidden="true"></i>View problems</a> 
                  
                  </li>
              <li class="nav-item dropdown">
       
              <a style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>Register
              </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/register_et"><i class='fas fa-seedling'></i>Entrepreneur</a> 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/register_iv"><i class='fas fa-hand-holding-usd'></i>Investor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/register_pe"><i class='fas fa-chalkboard-teacher'></i>Inspire</a>

        </div>
        
        
        <li class="nav-item dropdown">
          <a style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user"></i> Login
          </a>
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login_et"><i class='fas fa-seedling'></i>Entrepreneur</a> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/login_iv"><i class='fas fa-hand-holding-usd'></i>Investor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/login_pe"><i class='fas fa-chalkboard-teacher'></i>Inspire</a>
            {% endif %}

            </ul>
            
    </div>

          
          <!-- </ul> -->

  <!-- </div> -->
</nav>




<!-- navbar for investor -->
<!-- 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="text-colo-nav">
  <a class="navbar-brand" href="/" style="color: #F01981">ZLASH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="et_posts.html" style="color:#ffffff;"><i class='fas fa-user-friends'></i>Entrepreneurs Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reportaccount.html" style="color:#ffffff;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Report Account</a>
      </li>
    
      <li class="nav-item dropdown">
        <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-chart-line'></i> Market Status
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stockmarket"><i class='fas fa-funnel-dollar'></i>Stock Market</a> 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/googlenews"><i class="fa fa-newspaper-o"></i>Google News</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/surveys"><i class='fas fa-poll'></i>Surveys</a>

        </div>
        </li>

        <li class="nav-item dropdown">
          <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question" aria-hidden="true"></i> Problems
          </a>
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/viewproblem"><i class="fa fa-eye" aria-hidden="true"></i>View problems</a> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/postproblem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Post a problem</a>
           
          </div>
          </li>

      </ul>
    -->

        <!-- <ul class="nav navbar-nav navbar-right padding-nav"> 

          <li class="nav-item">
            <a class="nav-link" style="color:#ffffff;"><i class="fas fa-user"></i> Welcome {{session.username}}</a>
          </li>
     
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="color:#ffffff;"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
                     
          </ul>
          
  </div> -->
<!-- </nav> -->
 


<!-- navbar for Entrepreneur -->
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="text-colo-nav">
  <a class="navbar-brand" href="/" style="color: #F01981">ZLASH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
     
      
      <li class="nav-item">
        <a class="nav-link" href="/dashboard" style="color:#ffffff;"><i class="fa fa-history" aria-hidden="true"></i>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reportaccount" style="color:#ffffff;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Report Account</a>
      </li>
    
      <li class="nav-item dropdown">
        <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-chart-line'></i> Market Status
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stockmarket"><i class='fas fa-funnel-dollar'></i>Stock Market</a> 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/googlenews"><i class="fa fa-newspaper-o"></i>Google News</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/surveys"><i class='fas fa-poll'></i>Surveys</a>

        </div>
        </li>

        <li class="nav-item dropdown">
          <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question" aria-hidden="true"></i> Problems
          </a>
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/viewproblem"><i class="fa fa-eye" aria-hidden="true"></i>View problems</a> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/postproblem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Post a problem</a>
           
          </div>
          </li>

      </ul>


        <ul class="nav navbar-nav navbar-right padding-nav"> 

          <li class="nav-item">
            <a class="nav-link" style="color:#ffffff;"><i class="fas fa-user"></i> Welcome {{session.username}}</a>
          </li>
     
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="color:#ffffff;"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
                     
          </ul>
          
  </div>
</nav> -->



<!-- navbar for Inspire -->
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="text-colo-nav">
  <a class="navbar-brand" href="/" style="color: #F01981">ZLASH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
     
    
      
        <li class="nav-item dropdown">
          <a  style="color:#ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question" aria-hidden="true"></i> Problems
          </a>
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/viewproblem"><i class="fa fa-eye" aria-hidden="true"></i>View problems</a> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/postproblem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Post a problem</a>
           
          </div>
          </li>

      </ul>


        <ul class="nav navbar-nav navbar-right padding-nav"> 

          <li class="nav-item">
            <a class="nav-link" style="color:#ffffff;"><i class="fas fa-user"></i> Welcome {{session.username}}</a>
          </li>
     
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="color:#ffffff;"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
            </ul>
                     
          </ul>
          
  </div>

</nav>
-->



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script> 


{% block body %}



  




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>


{% endblock %}

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script> -->


</body>
</html>